{% extends 'wallpaper/base.html' %}
{% block main %}
    <div class="pb-3 text-center">
        <a href="{% url 'add_wallpaper' %}" class="btn btn-success">Add wallpaper</a>
    </div>
    {% for wallpaper in wallpapers %}
        <div class="card float-left mr-3" style="width: 250px;">
          <img class="card-img-top" src="{{ wallpaper.image.url }}">
          <div class="card-body">
            <h4 class="card-title">{{ wallpaper.name }}</h4>
            <p class="card-text">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Width</th>
                      <td>{{ wallpaper.width }}cm</td>
                    </tr>
                    <tr>
                      <th scope="row">Roll length</th>
                      <td>{{ wallpaper.roll_length }}m</td>
                    </tr>
                    <tr>
                      <th scope="row">Pattern repeat</th>
                      <td>{{ wallpaper.repeat }}cm</td>
                    </tr>
                  </tbody>
                </table>
            </p>
            <a href="{% url 'visualize' wallpaper.id %}" class="btn btn-primary">Visualize</a>
            <a href="{% url 'delete_wallpaper' wallpaper.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}